:root {
  --wave-blue: #2b376e;
  --wave-teal: #2a7997;
  --dark-teal: #007297;
  --wave-green: #008281;
  --railway-gray: #5a5a5a;
  --highway-gray: #787878;
  --service-gray: #aaaaaa;
  --roadway-gray: #d9d9d9;
  --land-gray: #f0f0f0;
  --line-pink: #d6078e;
  --action-orange: #f38b00;
}

ul.no-style {
  list-style: none;
}

li {
  font-size: 1.955rem;
}

.accordion-list .thr:not(:first-of-type) {
  border-top: none;
}

.accordion-list .thr {
  margin: 0px;
}

.img-container {
  height: 100%;
  width: 100%;
}
.img-fluid-custom {
  /* height: 100%; */
  object-fit: cover;
}
.img-card-heading {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .img-card-heading {
    font-size: 2em;
  }
}

.sota-logo2 {
  height: 111px;
}

.urgent-banner {
  background-color: var(--action-orange);
  padding: 2rem 0;
}
.urgent-banner a {
  color: inherit;
}
.urgent-banner:hover a {
  text-decoration: none;
}

.urgent-text {
  font-size: 20px;
}

/* .urgent-text::after {
  content: " >>";
} */

.cost-list {
  list-style: none;
  text-align: center;
  padding-right: 2rem;
}

.cost-list li {
  font-size: 1.2em;
}

.dollar-sign {
  font-weight: 500;
}
/* Custom Tooltip styles */
.tooltip {
  max-width: 400px !important; /* Adjust the maximum width of the tooltip */
}

.tooltip-inner {
  font-size: 1.7rem;
  background-color: var(--wave-blue);
  max-width: 100% !important;
}
.tooltip-anchor {
  font-weight: 600;
  border-bottom: 2px dashed gray;
  color: black;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figcaption.s2 {
  text-align: left;
  padding: 10px;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--railway-gray);
}
figcaption.s2:visited {
  color: var(--highway-gray);
}

.sg-survey li input {
  top: 16px !important;
}

.sg-survey label {
  font-weight: inherit;
}

.acc-icon {
  width: 35px;
  color: var(--wave-blue);
}

.footer-banner {
  background-color: var(--wave-teal);
  color: #fff;
}
.footer-banner strong {
  font-size: 2.4rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding-top: 0;
}
#footer {
  font-size: 1.6rem;
}
.footer-header {
  font-size: 2rem;
}
a.pbutton,
#sg_SubmitButton,
.pbutton,
.skip-nav-link:focus {
  color: var(--line-pink);
  background-color: #fff;
  border: 2px solid var(--line-pink);
  font-weight: 600;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
}
.pbutton {
  margin: 0 !important;
}
#sg_SubmitButton:hover,
.pbutton:hover{
  color: #ffffff;
  background: #d6078e;
}
.pbutton a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}
#sg_SubmitButton {
  margin-right: 18px !important;
}

.survey {
  border-radius: 5px;
}

.story-card * {
  max-height: 600px !important;
  color: #fff !important;
}
.story-card .img-container {
  margin: 0;
}
#story-1 .text-box {
  background-color: var(--wave-teal);
}
#story-2 .text-box {
  background-color: var(--wave-green);
}
#story-3 .text-box {
  background-color: var(--wave-teal);
}
#highlights {
  overflow: hidden;
}
.btn-back {
  color: var(--wave-blue);
  border: 3px solid var(--wave-blue);
  border-radius: 5px;
  padding: 0.3em 0.5em 0.2em;
  font-size: 24px;
  font-weight: 600;
}

.btn-back:visited {
  color: var(--wave-blue);
}

.btn-back:hover {
  color: white;
  background-color: var(--wave-blue);
}

/* --- Adds border radius to all the callout boxes ---  */
h3.gb {
  font-size: 1.3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.callout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

em {
  font-size: 1.95rem;
}
.nav-anchor {
  position: relative;
}

ul.dropdown-menu.show {
  background-color: var(--roadway-gray);
  text-align: center;
  padding: 2rem;
  width: min-content;
  margin: 0 auto;
  border: none !important;
}
a.dropdown-item:hover,
a.dropdown-item.active {
  background-color: transparent !important;
}

.dropdown-toggle {
  white-space: normal;
}

.carousel-caption {
  color: inherit;
  position: static;
  padding-top: 0;
}

.lift-text {
  position: relative;
  top: -2rem;
}

[for="sgE-7462204-1-5-element"] {
  max-width: 100%;
}

.callout-box.sticky-lg-top {
  top: 80px;
  z-index: 0;
}
.skip-nav-link {
  position: absolute;
  left: 1rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(20%);
}

/* Custom Tooltip styles */
.tooltip {
  cursor: help;
  max-width: 400px !important; /* Adjust the maximum width of the tooltip */
}

.tooltip-inner,
.tip span {
  font-size: 1.7rem;
  background-color: var(--wave-blue) !important;
  max-width: 100% !important;
  color: white;
}
.tooltip-anchor {
  font-weight: 600;
  border-bottom: 2px dashed gray;
  color: black;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: help;

}
.tooltip-anchor:hover {
  cursor: help;

}
.sg-question-title label {
  width: 100%;
  max-width: 100%;
}


@media (max-width: 768px) {
  .footer-form {
    flex-direction: column;
  }
  #story-2 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  ul.dropdown-menu.show {
    top: 4.9rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
