:root {
  --wave-blue: #2b376e;
  --wave-teal: #2A7997;
  --wave-green: #008281;
  --railway-gay: #5a5a5a;
  --highway-gray: #787878;
  --service-gray: #aaaaaa;
  --roadway-gray: #dcdcdc;
  --land-gray: #f0f0f0;
  --line-pink: #d6078e;

}
a,
button,
input,
.pbutton {
    border-radius: 5px;
}

li {
  font-size: 1.955rem;
}

.accordion-list .thr:not(:first-of-type) {
  border-top: none;
}

.accordion-list .thr {
  margin: 0px;
}

.img-container {
  height: 100%;
  width: 100%;
}
.img-fluid-custom {
  height: 100%;
  object-fit: cover;
}
.img-card-heading {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
    .img-card-heading {
        font-size: 2em;
    }
}

.sota-logo2 {
  height: 111px;
}

.urgent-banner {
  background-color: #fdcd23;
  padding: 2rem 0;
}
.urgent-banner a {
  color: inherit;
}
.urgent-banner:hover a {
  text-decoration: none;
}

.urgent-text {
  font-size: 20px;
}

.urgent-text::after {
  content: " >>";
}

/* @keyframes banner-hover {
    from {
        padding: 2rem;
    }
    to {
        padding: 3rem;
    }
}
.urgent-banner:hover {
    animation: banner-hover 300ms linear forwards;
    
} */

.cost-list {
  list-style: none;
  text-align: center;
  padding-right: 2rem;
}

.cost-list li {
  font-size: 24px;
}


.dollar-sign {
  font-weight: 500;
}
/* Custom Tooltip styles */
.tooltip {
  max-width: 400px !important; /* Adjust the maximum width of the tooltip */
}

.tooltip-inner {
  font-size: 1.7rem;
  background-color: var(--wave-blue);
  max-width: 100% !important;
}
.tooltip-anchor {
  font-weight: 600;
  border-bottom: 2px dashed gray;
  color: black;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sg-survey li input {
  top: 16px !important;
}

.acc-icon {
  width: 35px;
}

.footer-banner {
  background-color: var(--wave-teal);
  color: #fff;
}
.footer-banner strong {
    font-size: 2.4rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding-top: 0;
}
#footer {
  margin-top: 0;
}

.pbutton {
    color: var(--line-pink);
    background-color: #fff;
    border: 2px solid var(--line-pink);
    margin: 0 !important;

}
.pbutton:hover {
    color: #ffffff;
    background: #d6078e;
  }
  .pbutton a {
    color: #ffffff;
    text-decoration: none;
    border-color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .footer-form {
        flex-direction: column;
    }
    #story-2 {
        flex-direction: column-reverse;
    }
  }

 .story-card * {
    max-height: 600px !important;
    color: #fff !important;
  }
  .story-card .img-container {
    margin: 0;
  }
  #story-1 .text-box {
    background-color: var(--wave-teal);
  }
  #story-2 .text-box {
    background-color: var(--wave-blue);
  }
  #story-3 .text-box {
    background-color: var(--wave-green);
  }
  #highlights {
    overflow: hidden;
  }
button.btn-back {
    color: var(--wave-blue);
    border: 3px solid var(--wave-blue);

    padding: 8px 10px;
    font-size: 24px;
}

#btn-back {
    color: var(--wave-blue);
    border: 3px solid var(--wave-blue);

    padding: 8px 10px;
    font-size: 24px;
}