
:root {
    --wave-blue: #2b376e;
}

li {
    font-size: 1.955rem;
}

.accordion-list .thr:not(:first-of-type) {
    border-top: none;
}

.accordion-list .thr {
    margin: 0px;

}

.img-container {
    height: 100%;
    width: 100%;
}
.img-fluid-custom {
    height: 100%;
    object-fit: cover;
}
.img-card-heading {
    margin-top: 1rem;
}

.sota-logo2 {
    height: 111px;
}

.urgent-banner {
    background-color: #FDCD23;
    padding: 2rem 0;
}
.urgent-banner a {
    text-decoration: none;
    color: inherit;

}
.urgent-banner a:hover {
    text-decoration: underline;

}

.urgent-text {
    font-size: 20px;
}

.cost-list {
    list-style: none;
    text-align: center;
    padding-right: 2rem;
}

.cost-list li {
    font-size: 24px;
}

.dollar-sign {
    font-weight: 500;
}
  /* Custom Tooltip styles */
  .tooltip {
    max-width: 400px !important;/* Adjust the maximum width of the tooltip */
  }

  
.tooltip-inner {
    font-size: 1.7rem;
    background-color: var(--wave-blue);
    max-width: 100% !important;

}
.tooltip-anchor {
    font-weight: 700;
    border-bottom: 2px dashed gray;
    color: black;
    padding: 0;
    margin: 0; 
    font-size: inherit;

}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.sg-survey li input {
    top: 16px !important;
}