.hero {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3em;
  padding: 10px 0;
}
html {
  scroll-padding-top: 3%;
}

form#feedbackForm {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
  font-size: 2em;
}
h1 {
  font-size: 1.75em;
}
.emph {
  margin-top: 2px;
  border-top: 4px solid #2a7997;
}

button {
  margin-bottom: 20px;
}

.topban {
  padding: 0px 0px 0px 0px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #d6078e !important;
}
.outbox {
  background-color: #eaeaea;
}
.calbox {
  background-color: #f4f4f4;
  padding: 25px;
  margin: 0 0 20px 0;
  border-top: 4px solid #2a7997;
  border-left: 2px solid #ffffff;
  min-height: 280px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.callout {
  border: 2px solid #2a7997;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
}

.pinkcallout {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 55px;
}

.pinksurvey {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
}

.gb {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.graybox {
  background-color: #fbfbfb;
}

.whitebox {
  background-color: #ffffff;
  padding: 10px 0px 10px 20px;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 1.6em;
  padding-bottom: 15px;
}

.entryhead {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.entry-header {
  background-color: #2b376e;
  color: white;
  width: 100%;
  padding: 25px 0px 25px 0px;
  margin: 40px 0px 40px 0px;
}

.entry-header h2 {
  font-weight: 900;
  font-style: italic;

  margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ffffff;
  color: #2a7997;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: left;
  border-bottom: dashed;
  border-bottom-width: thin;
  outline: none;
  margin-top: -10px;
  scroll-margin-top: 200px;
  font-size: 24px;
  font-style: italic;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active,
.accordion:hover {
  background-color: rgb(255, 255, 255);
  color: #2a7897;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 02.2s ease-out;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 18px;
  color: rgb(255, 255, 255);
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

p {
  font-size: 1.15em;
}
.topdiv {
  background-color: #d9d9d9;
  padding-top: -20%;
}

.content {
  padding: 16px;
}

.stlogo {
  padding-left: 10px;
}

.navbar-toggler {
  background-color: #d9d9d9;
}

.pbutton {
  color: #ffffff !important;
  background: #d6078e !important;
}

.blbutton {
  color: #ffffff !important;
  background: #d6078e !important;
  width: 100%;
  max-width: 190px;

  height: 101px;
  font-size: 1.2em !important;
  font-style: italic;
  font-weight: 900 !important;
  font-family: "Nunito Sans", Arial, sans-serif !important;
}

.pbutton a {
  color: #ffffff !important;
  text-decoration: none;
  border-color: #ffffff;
}

.blbutton a {
  color: #ffffff !important;
  text-decoration: none;
}

.navbar-nav a {
  font-weight: 800;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #505050;
  font-size: 17px;
  font-style: italic;
  margin: -5px 15px 0 3px;
}

.dropdown-menu {
  font-weight: 700;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #2d2d2d;
  font-size: 16px;
  font-style: italic;
}
.ps {
  margin-top: -1em;
}
.thr {
  width: 100%;
  text-align: left;
  border-top: dashed;
  border-top-width: thin;
  outline: none;
  font-size: 24px;
  font-style: italic;
  padding-top: 20px;
  margin-top: 20px;
}
html {
  scroll-behavior: smooth;
}

h4 {
  font-size: 1.35em;
  font-style: italic;
  padding-left: 10px;
}
.pix {
  padding: 20px 20px 20px 0px;
}

.fl {
  margin-bottom: 0;
}

.s2 {
  font-size: 1.75em;
}

.nm {
  margin-top: -2px;
}

.nm2 {
  margin-top: 0px;
  margin-left: 5px;
}

li {
  font-size: 1.15em;
  font-family: Hind, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
/* p {
  padding-bottom: 15px;
} */
.container {
  padding-left: 25px;
  max-width: 1100px;
}

body {
  position: relative;
}

.bboxHead {
  color: #ffffff;
  background-color: #2b376e;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.borderbox {
  padding: 10px;
  border: 0.5px solid #bababa;
}

.bbox {
  color: #2b376e;
}

.buttonLinkbox {
  padding: 0 20px 0 0;
}

.borderbox2 {
  background-color: #2b376e;
  border: 0.5px solid #000000;
}

.alert-x {
  background-color: #f5a623;
}

a {
  color: #007bc1;
}

nav.top_nav {
  text-align: center;
  font-size: 0.1em;
  margin-bottom: 10px;
}

nav.top_nav li {
  display: inline;
}

nav.top_nav a {
  display: inline-block;
  position: relative;
}

nav.top_nav a:hover {
  color: #2a7997;
}

nav.top_nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: #2a7997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

nav.top_nav a:hover:before,
nav.top_nav a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* 
.active {
  color: #2a7997;
} */
.nulx {
  text-decoration: underline;
}

#progressbar {
  vertical-align: top;
  width: 100%;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  width: 100%;
}

/* background: */
progress::-webkit-progress-bar {
  background-color: btransparent;
  width: 100%;
}
progress {
  background-color: btransparent;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #2a7997 !important;
}
progress::-moz-progress-bar {
  background-color: #2a7997 !important;
}
progress {
  color: #2a7997;
}
Segoe UI Symbol {
  color: #2a7997;
}
